$primary: #000;
$inverse: #fff;
$grey: grey;

$accent-1: #f9e1e0;
$accent-2: #feadb9;
$accent-3: #bc85a3;
$accent-4: #9799ba;
$accent-5: #39719A;
$accent-6: #073D5E;

$background: #fff;
$light-back: #f6f6f6;

$gradient-one: linear-gradient(-10deg, transparentize($accent-6, 0.4), $accent-2);
$gradient-two: linear-gradient(-10deg, transparentize($accent-1, 0.4), $accent-3);
$gradient-three: linear-gradient(-10deg, transparentize($accent-2, 0.4), $accent-4);
$gradient-four: linear-gradient(-10deg, transparentize($accent-3, 0.4), $accent-5);
$gradient-five: linear-gradient(-10deg, transparentize($accent-4, 0.4), $accent-6);

$gradient-one-strong: linear-gradient(-10deg, $accent-6, $accent-2);
$gradient-two-strong: linear-gradient(-190deg, $accent-1, $accent-3);
$gradient-three-strong: linear-gradient(-190deg, $accent-2, $accent-4);
$gradient-four-strong: linear-gradient(-190deg, $accent-3, $accent-5);
$gradient-five-strong: linear-gradient(-190deg, $accent-4, $accent-6);
