@import "animation";

a {
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }

  &.btn {
    color: inherit;
    transition: all $transition-time;
    display: inline-block;

    &:hover {
      text-decoration: none;
      transform: $scale-bigger;
    }
  }
}

footer, .header {
  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
