a {
  color: $accent;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  &.btn {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

footer {
  a {
    color: inherit;
  }
}
