@import "color";
@import "animation";

.post-content {
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }

  .caption {
    color: $grey;
    text-align: center;
    margin-top: -0.5rem;
    margin-bottom: 3rem;
  }

  .footnotes:before {
    content: "References";
    font-weight: bold;
    font-size: 2rem;
  }

  .footnotes {
    margin-top: 3rem;

    hr {
      border: none;
    }

    li {
      color: $grey;
      border: none;
      margin: 1rem 0;
      font-size: 90%;
    }

    .footnote-backref {
      visibility: hidden;

      &:before {
        content: "↑";
        visibility: visible;
      }
    }
  }

  img {
    min-width: 50%;
  }

  iframe {
    width: 100%;
  }

  .home-link {
    color: black !important;
  }

  &.user-centered-design {
    h1 {
      background: $gradient-one-strong;
    }

    a {
      color: $accent-2
    }

    .post-category-label {
      background: $gradient-one-strong;
    }
  }

  &.society {
    h1 {
      background: $gradient-two-strong;
    }

    a {
      color: $accent-3
    }

    .post-category-label {
      background: $gradient-two-strong;
    }
  }

  &.user-interfaces {
    h1 {
      background: $gradient-three-strong;
    }

    a {
      color: $accent-4
    }

    .post-category-label {
      background: $gradient-three-strong;
    }
  }

  &.natural-language-processing {
    h1 {
      background: $gradient-four-strong;
    }

    a {
      color: $accent-5
    }

    .post-category-label {
      background: $gradient-four-strong;
    }
  }

  &.games-engineering {
    h1 {
      background: $gradient-five-strong;
    }

    a {
      color: $accent-6
    }

    .post-category-label {
      background: $gradient-five-strong;
    }
  }

  .video-wrapper {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 100% * (9/16);
    height: 0;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .loadable-iframe {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100% * (9/16);
    position: relative;
    text-align: center;
    @apply flex content-center;

    #spinner {
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.collapsible {
  position: relative;

  h3, h4 {
    @apply pr-5;
  }

  &:before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 900; /* NEEDED FOR FONT AWESOME! */
    top: 1.5rem;
    position: absolute;
    right: 1.5rem;
    transition: all $transition-time;
    @apply text-gray-600;
  }

  &.open {
    &:before {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }
}
