$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

@import "color";

h1 {
  font-size: 300%;
  font-weight: 700;

  &.post-title {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    line-height: normal;
  }
}

h2 {
  font-size: 200%;
  font-weight: 700;
}

h3 {
  font-size: 150%;
  font-weight: 700;
}

p, li {
  font-size: 110%;
}

.text-highlight {
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px #fff;
  background-image: linear-gradient(100deg, rgba(255, 250, 150, 0.6), rgba(255, 250, 150, 0.8) 100%, rgba(255, 250, 150, 0.6))
}
