$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

@import "color";

h1 {
  font-size: 300%;
  font-weight: 700;

  &.post-title {
    background: $gradient-mixed-strong;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
  }
}

h2 {
  font-size: 200%;
  font-weight: 700;
}

h3 {
  font-size: 150%;
  font-weight: 700;
}

p {
  font-size: 110%;
}
