@import "color";
@import "typography";

html,
body {
  color: $primary;
  background: $background;
  @apply font-sans;
}

section {
  padding: 20px;
}

section, div {
  .accent-back {
    background: $accent;
    color: $inverse;
  }

  .accent-back.two {
    background: $accent-two;
  }

  .light-back {
    background: $light-back;
  }
}
